@import "./config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  height: 100%;
  background: white;
  border-radius: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background-color: $very-light-gray;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;

  ::after {
    content: "";
    @include background($light-mobile-background);
    position: absolute;
    background-color: black;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: top;
  }

  .main {
    width: 90%;
    max-height: auto;
    display: grid;
    grid-template-rows: 0.5fr 0.25fr 2fr;

    .header-area {
      display: flex;
      justify-content: space-between;

      h1 {
        letter-spacing: 1rem;
        display: flex;
        align-items: center;
        color: white;
      }

      button {
        background: none;
        border: none;
      }
    }

    .todo-form {
      display: grid;
      grid-template-columns: 0.5fr 2fr;
      border-radius: 5px;
      height: 3.5rem;

      button {
        background: none;
        border: none;
      }

      input {
        background: none;
        border: none;
        font-size: 0.9rem;

        &:focus {
          outline: none;
        }
      }
    }

    .list-items-area {
      margin-top: 7.5%;
      border-radius: 5px;
      // border: 1px solid black;
      background-color: white;

      ul {
        padding: 5px 0;
        width: 100%;
        height: 100%;

        .list-item {
          height: 3.5rem;
          list-style-type: none;
          display: grid;
          grid-template-columns: 0.4fr 1fr 0.4fr;
          border-bottom: 0.5px solid $light-grayish-blue;
          border-radius: 0px;

          p {
            display: flex;
            align-items: center;
            padding-left: 10px;
          }

          .delete-button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          button {
            border: none;
            outline: none;
            background-color: white;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;

    .check-icon {
      padding-top: 5px;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
